@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600&display=swap');

.card-container {
    margin: 0.4rem 2rem 2rem;
    border-radius: 15px;
    font-family: 'Poppins', sans-serif;
    width: 270px;
}

.card-image {
    border-radius: 10px;
    width: 100%

}

.rating {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.rating-country {
    font-weight: 200;
    font-size: 1.2rem;
    padding: 0.3rem 0 0 0.4rem;
}

.rating-country span {
    color: #918E9B;
    font-size: 1.2rem;
}

.description {
    font-weight: 200;
    padding-top: 0.4rem;
}

.price {
    padding-top: 0.4rem;
}

.price span {
    font-weight: 200;
}

